html{
    height: 100%
      width: 100%
  }
  body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
  }
  #navbar{
      display: grid;
      grid-template-columns: 50px 50px 1300px;
      grid-template-rows: 50px 70px;
      grid-template-areas: 
      "about store . gmail images menu sign-in";
  }
  #about {
    grid-area: about;
    padding-left: 25px;
    color: #000;
      opacity: 0.75;
    justify-self: center;
      align-self: center;
  }
  #store {
      grid-area: store;
    padding-left: 20px;
    color: #000;
      opacity: 0.75;
    border: none;
    justify-self: center;
      align-self: center;
  }
  #gmail{
      grid-area: gmail;
    padding-left: 20px;
    color: #000;
      opacity: 0.75;
    justify-self: center;
      align-self: center;
  }
  #images{
      grid-area: images;
    color: #000;
      opacity: 0.75;
    justify-self: center;
      align-self: center;
  }
  #menu {
      grid-area: menu;
    opacity: .65;
    justify-self: center;
      align-self: center;
  }
  #sign-in {
      grid-area: sign-in;
     background-color: #4285f4;
    border: 1px solid #4285f4;
    color: white;
    padding: 0 10px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    width: 50px;
    height: 30px;
    border-radius: 3px;
      line-height: 28px;
  justify-self: center;
      align-self: center;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #search{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width:600px;
    height:25px;
    padding-top: 15px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,.87);
    opacity:.25;
    line-height:34px;
    background: url(https://raw.githubusercontent.com/25mm/google-homepage/master/images/search.png);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 10px;
    padding-left: 50px;
   align-self: center;
  } 
  input:hover{
  box-shadow: 0 3px 6px #c6c6c6;
      border: 8px solid #fff;
  }
  #main{
    display: flex;
    margin-left: 725px;
    margin-right: auto;
    margin-top: 30px;
    color: #000;
      opacity: 0.7;
    height: 35px;
  }
  #google-search-btn{
    margin-right: 10px;
      border-radius: 3px;
      border: none;
      width: 120px;
  }
  #random-search-btn{
        border-radius: 3px;
      border: none;
        width: 120px;
  }
  #footer{
     display: grid;
    grid-template-columns: 120px 80px 1300px 70px 70px 50px;
    opacity: 0.6;
      background-color: #eee;
      left: 0px;
      bottom: 0px;
      position: fixed;
      bottom: 0px;
      width: 100%;
    padding-bottom:15px;
    padding-top: 15px;
  }
  #advertising{
    padding-left: 25px;
    color: #000;
      opacity: 0.75;
  }
  #business{
    color: #000;
      opacity: 0.75;
  }
  #how-to{
    color: #000;
      opacity: 0.75;
  }
  #privacy{color: #000;
      opacity: 0.75;}
  #terms{color: #000;
      opacity: 0.75;}
  #settings{color: #000;
      opacity: 0.75;}
  button:hover{
    box-shadow: 3px 3px 3px 3px #c6c6c6;
      border: 8px solid #fff;
  }